/* el-messiri-regular - cyrillic_latin_arabic */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/el-messiri-regular.eot");
  src: local("El Messiri"), local("ElMessiri-Regular"), url("../fonts/el-messiri-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-regular.woff2") format("woff2"), url("../fonts/el-messiri-regular.woff") format("woff"), url("../fonts/el-messiri-regular.ttf") format("truetype"), url("../fonts/el-messiri-regular.svg#ElMessiri") format("svg"); }
/* el-messiri-500 - cyrillic_latin_arabic */
@font-face { {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/el-messiri-500.eot");
  src: local("El Messiri Medium"), local("ElMessiri-Medium"), url("../fonts/el-messiri-500.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-500.woff2") format("woff2"), url("../fonts/el-messiri-500.woff") format("woff"), url("../fonts/el-messiri-500.ttf") format("truetype"), url("../fonts/el-messiri-500.svg#ElMessiri") format("svg"); }
/* el-messiri-600 - cyrillic_latin_arabic */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/el-messiri-600.eot");
  src: local("El Messiri SemiBold"), local("ElMessiri-SemiBold"), url("../fonts/el-messiri-600.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-600.woff2") format("woff2"), url("../fonts/el-messiri-600.woff") format("woff"), url("../fonts/el-messiri-600.ttf") format("truetype"), url("../fonts/el-messiri-600.svg#ElMessiri") format("svg"); }
/* el-messiri-700 - cyrillic_latin_arabic */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/el-messiri-700.eot");
  src: local("El Messiri Bold"), local("ElMessiri-Bold"), url("../fonts/el-messiri-700.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-700.woff2") format("woff2"), url("../fonts/el-messiri-700.woff") format("woff"), url("../fonts/el-messiri-700.ttf") format("truetype"), url("../fonts/el-messiri-700.svg#ElMessiri") format("svg"); }
/*general */
body {
  font-family: "El Messiri", sans-serif;
  font-weight: 500;
  font-size: 14px; }

.divider {
  position: relative;
  width: 45px;
  margin: auto; }
  .divider span {
    background: url(../img/icon.png) no-repeat center;
    height: 45px;
    display: block; }
  .divider::before, .divider::after {
    content: "";
    border-bottom: 2px solid #eec83b;
    position: absolute;
    height: 1px;
    width: 50px;
    top: 20px; }
  .divider::before {
    right: 100%; }
  .divider::after {
    left: 100%; }

/*start header */
.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.top-bar .top-head {
  background-color: #262626;
  height: 50px; }
  .top-bar .top-head ul.list-unstyled {
    display: flex;
    float: left;
    line-height: 50px; }
    .top-bar .top-head ul.list-unstyled .login-drop a {
      color: #eec83b;
      float: left;
      padding-left: 40px;
      font-size: 14px;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      .top-bar .top-head ul.list-unstyled .login-drop a:hover, .top-bar .top-head ul.list-unstyled .login-drop a:focus, .top-bar .top-head ul.list-unstyled .login-drop a:active {
        text-decoration: none; }
    .top-bar .top-head ul.list-unstyled .login-drop .dropdown-menu {
      right: auto;
      left: 0;
      min-width: 270px;
      background-color: #fff8de;
      padding: 20px 0; }
      .top-bar .top-head ul.list-unstyled .login-drop .dropdown-menu input {
        padding-right: 30px;
        border: none;
        color: #474746;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .top-bar .top-head ul.list-unstyled .login-drop .dropdown-menu input::placeholder {
          color: #474746; }
      .top-bar .top-head ul.list-unstyled .login-drop .dropdown-menu .sumbit-btn {
        color: #262626;
        background-color: #eec83b;
        border: none;
        font-weight: 700;
        padding: 10px 50px;
        font-size: 14px; }
    .top-bar .top-head ul.list-unstyled .lang img {
      height: 30px; }
    .top-bar .top-head ul.list-unstyled .links {
      float: none !important;
      align-items: center;
      justify-content: center; }
      .top-bar .top-head ul.list-unstyled .links a {
        font-size: 12px;
        color: #474746;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        .top-bar .top-head ul.list-unstyled .links a:hover, .top-bar .top-head ul.list-unstyled .links a:focus, .top-bar .top-head ul.list-unstyled .links a:active {
          color: #eec83b; }
.top-bar .end-head {
  height: 100px;
  background-color: #eec83b;
  width: 100%; }
  .top-bar .end-head #logo {
    display: inline-block; }
  .top-bar .end-head .navbar {
    float: left; }
    .top-bar .end-head .navbar .navbar-nav li {
      margin-top: 25px;
      margin-left: 20px; }
      .top-bar .end-head .navbar .navbar-nav li a {
        color: #2c2c2c;
        font-size: 16px;
        font-weight: 900;
        border-radius: 5px;
        padding: 10px 20px !important;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        .top-bar .end-head .navbar .navbar-nav li a:hover, .top-bar .end-head .navbar .navbar-nav li a:active, .top-bar .end-head .navbar .navbar-nav li a:focus {
          background-color: #474746;
          color: #eec83b; }
      .top-bar .end-head .navbar .navbar-nav li.active a {
        background-color: #474746;
        color: #eec83b; }
  .top-bar .end-head div#bs-example-navbar-collapse-1 {
    z-index: 1;
    padding: 30px;
    width: 300px;
    background-color: #e7e7e7;
    border-radius: 10px;
    right: 85px;
    position: relative;
    z-index: 1;
    right: inherit; }

/*end header */
/*start adv */
.adv {
  background-color: #fff8de;
  padding: 40px; }
  .adv .adv-txt {
    padding: 120px 0 100px; }
    .adv .adv-txt p {
      font-weight: 700;
      color: #474746; }
      .adv .adv-txt p .sms {
        font-size: 45px; }
      .adv .adv-txt p .highlight-txt {
        font-size: 65px;
        display: block;
        text-align: center;
        background-color: #eec83b;
        border-radius: 5px;
        margin: 50px 0; }
      .adv .adv-txt p span {
        font-size: 38px; }

/*end adv */
/*start feat */
.features {
  padding: 140px 0 60px; }
  .features .feat-block {
    font-weight: 700;
    margin-bottom: 80px;
    padding: 20px 0;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .features .feat-block:hover, .features .feat-block:active, .features .feat-block:focus {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    .features .feat-block img {
      margin-bottom: 80px; }
    .features .feat-block h4 {
      color: #2c2c2c;
      font-size: 16px; }
    .features .feat-block p {
      color: #606060; }

/*end feat */
/*start why */
.why {
  background-color: #fff8de;
  padding: 160px 0 60px;
  color: #474746; }
  .why .why-feats {
    margin-top: 70px; }
    .why .why-feats .why-feat {
      height: 130px; }
      .why .why-feats .why-feat .why-icon {
        float: right;
        width: 50px;
        height: 50px;
        background: #fef1c0;
        color: #eec83b;
        border: 1px solid #eec83b;
        margin: 0 auto;
        text-align: center;
        border-radius: 3px;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        .why .why-feats .why-feat .why-icon i {
          line-height: 50px;
          font-size: 25px; }
      .why .why-feats .why-feat .why-txt {
        padding-right: 70px; }
        .why .why-feats .why-feat .why-txt h4 {
          font-weight: 700; }
        .why .why-feats .why-feat .why-txt p {
          font-size: 12px; }
      .why .why-feats .why-feat:hover .why-icon, .why .why-feats .why-feat:focus .why-icon, .why .why-feats .why-feat:active .why-icon {
        background: #eec83b;
        color: #fff8de;
        border: 1px solid #fff8de; }
  .why .why-imgs {
    margin-top: 70px; }
    .why .why-imgs .why-img {
      vertical-align: middle;
      margin: 8em 0; }
      .why .why-imgs .why-img img {
        vertical-align: middle; }

/*end why */
/*start prices */
.prices {
  margin-top: 30px;
  padding-bottom: 100px; }
  .prices h3 {
    font-weight: 700; }
  .prices .price-plan {
    border: 1px solid #f0f0f0;
    border-right: 15px solid #eec83b;
    border-radius: 10px;
    color: #232323;
    margin-top: 30px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
    .prices .price-plan h4 {
      margin-top: 30px;
      margin-bottom: 30px; }
    .prices .price-plan .price {
      color: #eec83b;
      font-weight: 700;
      padding-right: 10px; }
      .prices .price-plan .price .amount {
        font-size: 50px; }
    .prices .price-plan .price-features {
      margin-top: 20px;
      margin-bottom: 30px; }
      .prices .price-plan .price-features li {
        line-height: 2.5; }
    .prices .price-plan .btn-primary {
      margin-bottom: 10px;
      color: #232323;
      background-color: #eec83b;
      border-color: #eec83b;
      padding: 10px 60px;
      font-weight: 700; }
    .prices .price-plan:hover, .prices .price-plan:focus, .prices .price-plan:active {
      border: 1px solid #eec83b;
      border-right: 15px solid #eec83b;
      cursor: pointer; }

/*end prices */
/*start count */
.count {
  background: url(../img/rectangle5.png) no-repeat;
  background-size: cover;
  padding: 130px 0 80px; }
  .count .num {
    font-weight: 700;
    margin-bottom: 50px; }
    .count .num i, .count .num .counter {
      display: block; }
    .count .num i {
      font-size: 60px;
      color: #eec83b;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
    .count .num span {
      color: #1e1e1e;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
    .count .num .counter {
      color: #eec83b;
      font-size: 30px;
      margin-top: 30px;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
    .count .num:hover i, .count .num:hover .counter, .count .num:focus i, .count .num:focus .counter, .count .num:active i, .count .num:active .counter {
      color: #2c2c2c; }
    .count .num:hover span, .count .num:focus span, .count .num:active span {
      color: #eec83b; }

/*end count */
/*start clients */
.clients {
  padding: 150px 0; }
  .clients .owl-carousel .owl-item {
    display: inline-block;
    float: none;
    vertical-align: middle; }
    .clients .owl-carousel .owl-item img {
      height: 60px;
      width: 140px;
      margin: 0 auto; }
  .clients .owl-carousel .owl-nav {
    display: block !important; }
    .clients .owl-carousel .owl-nav .owl-prev, .clients .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 25px;
      background-color: #fff9e3;
      width: 40px;
      height: 40px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
      -ms-transition: all 1s ease-in-out;
      -o-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      .clients .owl-carousel .owl-nav .owl-prev:hover, .clients .owl-carousel .owl-nav .owl-prev:active, .clients .owl-carousel .owl-nav .owl-prev:focus, .clients .owl-carousel .owl-nav .owl-next:hover, .clients .owl-carousel .owl-nav .owl-next:active, .clients .owl-carousel .owl-nav .owl-next:focus {
        background-color: #fef1c0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
    .clients .owl-carousel .owl-nav .owl-prev {
      right: -2rem; }
    .clients .owl-carousel .owl-nav .owl-next {
      left: -2rem; }
  .clients .owl-carousel .owl-stage {
    display: block !important; }
  .clients .owl-carousel .item {
    text-align: center; }

/*end clients */
/*start footer */
footer {
  background-color: #262626;
  padding: 20px 20px 10px; }
  footer .copyright {
    color: #fff;
    font-size: 12px;
    float: left; }
  footer .content-footer {
    display: inline-block;
    color: #fff; }
    footer .content-footer li {
      display: inline-block; }
      footer .content-footer li a {
        color: #fff;
        font-size: 12px;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
        footer .content-footer li a:hover, footer .content-footer li a:active, footer .content-footer li a:focus {
          text-decoration: none;
          color: #eec83b; }

/*end footer */
@media only screen and (max-width: 991px) {
  .top-bar .end-head .navbar .navbar-nav li {
    margin-left: 0px; }
  .top-bar .end-head #logo {
    margin-top: 10px; }

  .clients .owl-carousel .owl-nav .owl-prev {
    right: 2rem; }
  .clients .owl-carousel .owl-nav .owl-next {
    left: 2rem; } }
@media only screen and (max-width: 768px) {
  footer .copyright {
    float: none; } }

/*# sourceMappingURL=styles.css.map */
